/*
5to tono: #011C6B
4to tono: #011142
3er tono: #01258F
2do Tono: #023BE6
1er Tono: #0231BD
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  
}
body{
      background-color: #0d0d0d;
}
h1{
    font-size: 2rem;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.Desc{
    font-weight: 600;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 10px;
}

.postulantes{
    border-radius: 20px;
    background-color: #898989;
    color:  #E0E0E0;;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

.PostDiv{
    display: flex;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    justify-items: center;
    background-color: none;
}

.Votos{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 20px;
}

.Cacique{
    display: flex;
    justify-items: center;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    margin: 20px;
}

.card{
    border-radius: 20px;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.BotonVotar{
    display: flex;
    color: #E0E0E0;
    background-color: #383838;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    margin: 20px;
    transition: all ease-in 0.3s;
    font-weight: 600;
       justify-content: center;
    justify-items: center;
    text-align: center;
}

button:hover{
    color: #383838;
    background-color:  #E0E0E0;
    transform: translateY(-3px);
}




/* ===== PARTICIPACION ===== */

.estadisticas-principales{
    display: grid;
    max-width: 400px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #bfbfbf;
    margin: 20px;
    padding: 10px;
}

.habilitados{
    background-color: #E0E0E0;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

.emitidos{
    background-color: #E0E0E0;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

.pendientes{
    background-color: #E0E0E0;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

.participacion{
    background-color: #E0E0E0;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

.estadistica{
    display: flex;
    margin: 20px;
    justify-items: center;
    text-align: center;
}

.caciques{
    display: flex;
    max-width: 400px;
    background-color: #E0E0E0;
    justify-items: center;
}

.PostStats{
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-items: center;
}

.postulante{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
}


/*==== SECCION DE REGISTRO VOTO*/

.VTitulo{
    
}